.card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    color: aliceblue;
    margin: 10px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.card h2 {
    margin-top: 0;
  }
  
.card-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.2s;
  }
  
.card-button:hover {
    opacity: 0.8;
  }